* {
  margin: 0;
  padding: 0; 
}
body{
  background: linear-gradient(to right,rgb(168, 73, 149),rgb(65, 2, 69));
}
.container{
  background: linear-gradient(to right,rgb(122, 219, 219),rgb(120, 122, 226));
}

.title {
  /* display: flex; */
  /*align-items: top;*/
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
}

h1, h2 {
  font-family: sans-serif;
  text-align: center;
  color: black;
}
.logo {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.work{
  margin-left: 2rem;
}

@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}

.padding {
  padding: 10rem
}
.table{
  margin: auto;
  padding: 2rem;
  background-color: rgb(19, 54, 73);
}
th{
  font-size: 2rem;
  height: 2rem;
  width: 10rem;
}
td{
  font-size: 1.5rem;
  height: 2rem;
  width: 10rem;
}